<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="containers" type="CollectionConfiguration.CustomSection, CollectionConfiguration" />
  </configSections>
  <containers>
    <container name="container1" enabled="true">
      <node key="A" type="123" />
      <node key="B" type="456" />
    </container>
    <container name="container2" enabled="true">
      <node key="C" type="789" />
    </container>
  </containers>
</configuration>